@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes floatSlow {
  0% {
    transform: translateY(0px) translateX(0px);
  }
  50% {
    transform: translateY(-40px) translateX(20px);
  }
  100% {
    transform: translateY(0px) translateX(0px);
  }
}

.animate-floatSlow {
  animation: floatSlow 18s ease-in-out infinite;
}
